#container{
    margin : 20px auto;
    background-color: white;
    height: 500px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}

#start{
    font-size: 20px;
    font-weight: bolder;
    word-break: break-all;
    width:220px;
    height:100px;
    border : 2px solid CornflowerBlue;
    border-radius: 23px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    eft:250px;
    top:70px;
    color : CornflowerBlue;
}
#start:hover{
    border: 3px solid MidnightBlue;
    color : MidnightBlue;
}

#question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 200px;
    padding : 10px
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}

.progress {
  width: 100%;
  background-color: grey;
}

.progress-bar {
  width: 0;
  height: 30px;
  background-color: green;
}
