#container{
    margin : 20px auto;
    background-color: white;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}

#start{
    font-size: 20px;
    font-weight: bolder;
    word-break: normal;
    width:280px;
    height:100px;
    line-height: 100px;
    border : 2px solid SteelBlue;
    border-radius: 23px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:200px;
    top:80px;
    color : SteelBlue;
    background-color: #f6f9fb;
}
#start:hover{
    border: 3px solid MidnightBlue;
    background-color: LightSteelBlue;
    color : MidnightBlue;
    vertical-align: middle;
}

#question{
    width:700px;
    height : 125px;
    position: absolute;
    right:50;
    top:50;
    text-align: center;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 170px;
    padding : 10px;
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid SandyBrown;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
    color: SandyBrown;
    background-color: PapayaWhip;
}
.choice:hover{
    border : 2px solid Sienna;
    font-weight: bold;
    color: Sienna;
    background-color: SandyBrown;
}

.progress {
  width: 100%;
  background-color: grey;
}

.progress-bar {
  width: 0;
  height: 30px;
  background-color: green;
}

#scoreContainer {
    font-size: 15px;
    word-break: normal;
    text-align: center;
    position: absolute;
    left:260px;
    top:50px;
    color : Slategray;
}
        
#scoreMessage{
    font-size: 18px;
    word-break: normal;
    text-align: center;
    position: absolute;
    left:100px;
    top:100px;
    color : SteelBlue;
    font-weight: bolder;
}

#quizAgain{
    font-size: 15px;
    font-weight: bolder;
    word-break: normal;
    width:100;
    height:50;
    border : 2px solid CornflowerBlue;
    border-radius: 23px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:300px;
    top:180px;
    color : CornflowerBlue;
    background-color: AliceBlue;
}
#quizAgain:hover{
    border: 3px solid MidnightBlue;
    background-color: CornflowerBlue;
    color : MidnightBlue;
    vertical-align: middle;
}
