#container{
    margin : 20px auto;
    background-color: white;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}

#start{
    font-size: 20px;
    font-weight: bolder;
    word-break: normal;
    width:280px;
    height:100px;
    border : 2px solid CornflowerBlue;
    border-radius: 23px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:200px;
    top:80px;
    color : CornflowerBlue;
    background-color: WhiteSmoke;
    vertical-align: middle;
    line-height: 40px;
}
#start:hover{
    border: 3px solid MidnightBlue;
    background-color: WhiteSmoke;
    color : MidnightBlue;
    vertical-align: middle;
}

#question{
    width:500px;
    height : 125px;
    position: absolute;
    right:20;
    top:0;
    text-align: center;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 120px;
    padding : 10px;
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid SandyBrown;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
    color: SandyBrown;
    background-color: PapayaWhip;
}
.choice:hover{
    border : 2px solid Sienna;
    font-weight: bold;
    color: Sienna;
    background-color: SandyBrown;
}

.progress {
  width: 100%;
  background-color: grey;
}

.progress-bar {
  width: 0;
  height: 30px;
  background-color: green;
}
